<div class="section search">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">
        <div class="field has-addons">
          <div class="control">
            <input class="input is-rounded" type="text" placeholder="Search youtube channel">
          </div>
          <div class="control">
            <a class="button is-primary  is-rounded">
              Search
            </a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
