<section class="hero">
  <div class="hero-body">
    <div class="container">

    <div class="columns is-centered">
      <div class="column is-half">
      <h1 class="title">
        Subscriptions
      </h1>
      <h2 class="subtitle">
        <div class="columns is-mobile">

          <div class="column is-1" *ngFor="let channel of subscribedChannels">
            <figure class="media-left">
              <p class="image is-64x64">
                <img class="is-rounded" src="{{channel.img}}">
              </p>
            </figure>
          </div>
        </div>

        <br>
        <span *ngIf="subscribedChannels">
          You are subscribed to {{subscribedChannels.length}} channels.
        </span>
        <br>
        <a [routerLink]="['/sub']" [queryParams]="{ids:ids}" >
          Click to view updates
        </a>
        <br>
      </h2>
      </div>
      </div>
    </div>
  </div>
</section>

<app-github></app-github>

<div class="section search">
  <div class="container">
    <div class="columns is-centered">
      <div class="column is-half">

        <div *ngFor="let channel of channels">
          <article class="media">
            <figure class="media-left">
              <p class="image is-64x64">
                <img class="is-rounded" src="{{channel.img}}">
              </p>
            </figure>
            <div class="media-content">
              <div class="content">
                <p>
                  <strong>{{channel.title}}</strong>
                  <br>
                  <button (click)="onSubscribe(channel)" class="button is-primary is-small is-rounded">
                    Subscribe
                  </button>

                </p>
              </div>

            </div>
          </article>


        </div>


      </div>
    </div>
    <div class="columns is-centered">

      <div class="column is-half">
        <form #searchForm="ngForm" (ngSubmit)="onSubmit(searchForm)">
          <div class="field has-addons">
            <div class="control search-input">
              <input autocomplete="off" class="input is-rounded" type="text" name="query" ngModel
                placeholder="YouTube channel url">
            </div>
            <div class="control">
              <button type="submit" class="button is-primary  is-rounded">
                Search
              </button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
